/* Write your media queries and flexbox CSS below */
@media screen and (min-width: 480px) {
  nav {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  .site-header {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
